.content-page-shell__content {
  width: 100%;
  max-width: var(--lmnl-width-content);
  margin: 0 auto;
  padding-top: var(--lmnl-shell-content-offset);
  padding-bottom: var(--lmnl-shell-content-bottom);
}
